<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.f1.f1history.dao.DriverInfoMapper">
    
    <resultMap type="com.f1.f1history.entity.Driver" id="driverMap">
        <id column="driver_id" property="driverId"/>
        <result column="name" property="name"/>
        <result column="country" property="country"/>
        <result column="date_of_birth" property="dateOfBirth"/>
        <result column="place_of_birth" property="placeOfBirth"/>
        <collection property="eventList" resultMap="eventMap" columnPrefix="events_"/>
    </resultMap>
    
    <!-- Eventのマッピング -->
    <resultMap type="com.f1.f1history.entity.Event" id="eventMap">
        <id column="event_id" property="eventId"/>
        <result column="driver_id" property="driverId"/>
        <result column="description" property="description"/>
        <result column="date" property="date"/>
        <result column="category" property="category"/>
    </resultMap>

    <!-- 全てのDriverを取得 -->
    <select id="getAllDriver" resultMap="driverMap">
        SELECT * FROM drivers
    </select>

    <!-- Driverを挿入 -->
    <insert id="insertDriver">
        INSERT INTO drivers(
            name,
            country,
            date_of_birth,
            place_of_birth)
        VALUES(
            #{name},
            #{country},
            #{dateOfBirth},
            #{placeOfBirth})
    </insert>

    <!-- 特定のDriverを取得 -->
    <select id="getDriver" resultMap="driverMap">
        SELECT
        	drivers.name,
        	drivers.country,
        	drivers.date_of_birth,
        	drivers.place_of_birth,
        	events.event_id as events_event_id,
        	events.description as events_description,
        	events.date as events_date,
        	events.category as events_category
        FROM
        	drivers
        LEFT JOIN
        	events
        ON drivers.driver_id = events.driver_id
        WHERE
        	drivers.driver_id = #{driverId}
    </select>

    <!-- Driverを更新 -->
    <update id="updateDriver">
        UPDATE drivers
        SET
            name = #{name},
            country = #{country},
            date_of_birth = #{dateOfBirth},
            place_of_birth = #{placeOfBirth}
        WHERE
            driver_id = #{driverId}
    </update>

    <!-- Driverを削除 -->
    <delete id="deleteDriver">
        DELETE FROM drivers WHERE driver_id = #{driverId}
    </delete>
    
    <select id="searchDriver" resultMap="driverMap">
    	SELECT
    		drivers.driver_id,
    		drivers.name,
        	drivers.country,
        	drivers.date_of_birth,
        	drivers.place_of_birth,
        	events.event_id as events_event_id,
        	events.description as events_description,
        	events.date as events_date,
        	events.category as events_category
        FROM
        	drivers
        LEFT JOIN
        	events
        ON drivers.driver_id = events.driver_id
        <where>
        	<if test="name != null">
        		AND drivers.name LIKE CONCAT('%', #{name}, '%')
        	</if>
        </where>
    </select>
</mapper>