<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.f1.f1history.dao.EventInfoMapper">
	<resultMap type="com.f1.f1history.entity.Event" id="eventMap">
	    <id column="event_id" property="eventId"/>
	    <result column="driver_id" property="driverId"/>
	    <result column="description" property="description"/>
	    <result column="date" property="date"/>
	    <result column="category" property="category"/>
	    <result column="weather_condition" property="weatherCondition" />
	    <result column="title" property="title"/>
	    <result column="youtube_url" property="youtubeUrl"/>
	    <result column="user_id" property="userId"/>
	    <association property="driver" resultMap="driverMap"/>
	    <association property="user" resultMap="userMap" />
	</resultMap>
	
	<resultMap type="com.f1.f1history.entity.User" id="userMap">
		<id column="user_id" property="userId"/>
	    <result column="name" property="name"/>
	    <result column="password" property="password"/>
	    <result column="role" property="role"/>
	    <result column="created_at" property="createdAt"/>
	    <result column="email" property="email"/>
	</resultMap>
	
	<resultMap type="com.f1.f1history.entity.Driver" id="driverMap">
		<id column="driver_id" property="driverId"/>
        <result column="team" property="team"/>
        <result column="worldChampionships" property="worldChampionships"/>
        <result column="wins" property="wins"/>
        <result column="wiki_url" property="wikiUrl"/>
        <result column="user_id" property="userId"/>
	</resultMap>
	
	<select id="getEventAll" resultMap="eventMap">
		SELECT * FROM events
	</select>
	
	<insert id="insertEvent">
		INSERT INTO events(
			driver_id
			,description
			,date
			,category
			,user_id
			,weather_condition
			,title
			,youtube_url)
		VALUES(
			#{driverId}
			,#{description}
			,#{date}
			,#{category}
			,#{userId}
			,#{weatherCondition}
			,#{title}
			,#{youtubeUrl})
	</insert>
	
	<select id="getEvent" resultMap="eventMap">
		SELECT
			*
		FROM 
			events
		WHERE 
			event_id = #{eventId}
	</select>
	
	<update id="updateEvent">
		UPDATE
			events
		SET
			driver_id = #{event.driverId}
			,description = #{event.description}
			,date = #{event.date}
			,category = #{event.category}
			,weather_condition = #{event.weatherCondition}
			,title = #{event.title}
			,youtube_url = #{event.youtubeUrl})
		WHERE
			event_id = #{event.eventId}
	</update>
	
	<delete id="deleteEvent">
		DELETE FROM
			events
		WHERE
			event_id = #{eventId}
	</delete>
</mapper>