<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>お問い合わせ一覧</title>
<!-- bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary">
	  <div class="container-fluid">
	    <a class="navbar-brand" style="color: red;">F1 History App</a>
	  </div>
	</nav>
	<div class="container mt-5">
		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">名前</th>
		      <th scope="col">メールアドレス</th>
		      <th scope="col">お問い合わせ日時</th>
			  <th scope="col">お問い合わせカテゴリー</th>
			  <th scope="col">問い合わせ状況</th>
			  <th scope="col"></th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="inquiry : ${inquiryList}">
		      <td th:text="${inquiry.name}"></th>
		      <td th:text="${inquiry.email}"></td>
		      <td th:text="${#temporals.format(inquiry.createdAt, 'yyyy/MM/dd')}"></td>
			  <div th:if="${inquiry.inquirySelect} == 'driver'">
			  	<td>ドライバー追加</td>
			  </div>
			  <div th:if="${inquiry.inquirySelect} == 'iconic'">
			  	<td>名シーン追加</td>
			  </div>
			  <div th:if="${inquiry.inquirySelect} == 'other'">
  			  	<td>その他</td>
  			  </div>
			  <td th:text="${inquiry.deletedAt} != null ? '完了' : '未完'"></td>
			  <td>
				<a th:href="@{/inquiry/{inquiryId}(inquiryId=${inquiry.inquiryId})}">
					<button type="button" class="btn btn-primary">詳細</button>
				</a>
			  </td>
		    </tr>
		  </tbody>
		</table>
	</div>
</body>
</html>